ul, li{
  list-style: none;
}
#wrapper{
  width: 900px;
  margin: 20px auto;
}
#pagination-data-container{
  margin-top: 5px;
}
#pagination-data-container ul{
  padding: 0;
  margin: 0;
}
#pagination-data-container li{
  margin-bottom: 5px;
  padding: 5px 10px;
  background: #eee;
  color: #666;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Abel', 'Lato', sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.justify {
  text-align: justify;
}
.poster{
  width: 20%;
}